
.container {
  margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    padding: 30px;
}

.App {
  background-color: rgb(53,50,50);
  height: 100vh;
  width: 100vw;
}

.app-header {
  background-color: cornflowerblue;
  align-items: center;
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 20px 0;

}

.app-header p {
  /* margin: 20px */
}


.footer {
  display: flex;
  justify-content: space-between;
}

button {
  height: 50px;
  border-style: none;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
}

button:nth-child(1) {
  padding: 0 15px 0 10px;
}

button:nth-child(2) {
  padding: 0 10px 0 15px;
}

button:active{
  background: gray;
}

button i {
  color: white;
  margin: 5px;
  font-size: 1.2rem;
}